<section class="heroConteiner">
    <img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Black and white background">
    <div class="callToActionArea">
        <h2>DMC Delorean<h2>
        <p>3 Cup Holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="#">
            <img src="/images/site/own_today.png" alt="Call to action (Own Today!)">
        </a>
    </div>
</section>