<section class="upgradesConteiner">
    <h2>Delorean Upgrades</h2>
    <div class="upgradesCards">
        <div class="fluxCapacitorCard">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <figcaption>
                    <a href="#">Flux Capacitor</a>   
                </figcaption>
            </figure>
        </div>
        <div class="flameDecalsCard">
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <figcaption>
                    <a href="#">Flame Decals</a>   
                </figcaption>
            </figure>
        </div>
        <div class="bumperStickersCard">
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <figcaption>
                    <a href="#">Bumper Stickers</a>   
                </figcaption>
            </figure>
        </div>
        <div class="hubCapsCard">
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <figcaption>
                    <a href="#">Hub Caps</a>   
                </figcaption>
            </figure>
        </div>
    </div>
</section>