:root {
  --primary-color: #E3E7AF;
  --secondary-color: #A2A77F;
  --background-color: #EFF1C5;
  --card-background-color: #035E7B; 

  --heading-font: "Playfair", serif;
  --paragraph-font: "Barlow", sans-serif;

  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --nav-link-color: var(--primary-text-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color:var(--secondary-text-color);
  --nav-hover-background-color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  background: url('/images/site/checkerboard.jpg');
  color: var(--secondary-text-color);
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
}

/*******************************/
/******* HEADER                */
/*******************************/

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-background-color);
  color: var(--primary-text-color);
  padding: 10px;
}

#top-header .siteName a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 24px;
  font-family: var(--heading-font);
}

#tools a {
  color: var(--primary-text-color);
  text-decoration: none;
}

/*NAVIGATION BAR*/
#navigation {
  background-color: var(--card-background-color);
  padding: 10px;
}

#navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#navigation li {
  font-size: 18px;
}

#navigation a {
  color: var(--nav-link-color);
  text-decoration: none;
}

#navigation a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  text-decoration: underline;
  padding: 5px;
  border-radius: 5px;
}

/* Main content */
main {
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

/*****************************/
/**    HERO IMAGE AREA       */
/*****************************/
.heroConteiner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.callToActionArea {
  border-radius: 10px;
  border: 3px solid var(--secondary-text-color);
  background-color: var(--secondary-color);
  display: flex;  
  flex-direction: column; 
  justify-content: center;  
  align-items: center;  
  text-align: center;  
  height: 100%;  
  padding: 20px; 
  line-height: 1.5;
}

.heroConteiner img {
  width: 100%;
  border-radius: 5px;
}

/*****************************/
/**        CARDS             */
/*****************************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Delorean Upgrades */
.upgradesCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Delorean Reviews */
.reviewsConteiner {
  line-height: 2;
}

/* Footer */
footer {
  background-color: var(--card-background-color);
  color: var(--primary-text-color);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-family: var(--heading-font);
}

@media (max-width: 650px) {
  body {
  background: none;
  background-color: var(--card-background-color);
  }
}